.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.is-hidden{
  visibility: hidden;
  display: none;
}

.wrapper-form {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.custom-btn {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.load-more {
  margin: 50px auto;
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.load-more:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.load-more:hover {
  color: #fff;
}
.load-more:hover:after {
  top: 0;
  height: 100%;
}
.load-more:active {
  top: 2px;
}

.search-input {
  padding: 10px 20px;
}

.search-btn {
  padding: 10px 20px;
}

.gallery {
  margin-top: 60px;
  display: grid;
  max-width: 1640px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: #212121;
}

.photo-card {
  position: relative;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  display: block;
  text-decoration: none;
  overflow: hidden;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  .info-item:not(:last-child) {
    margin-right: 20px;
  }
}
